.project-list-wrapper {
    width: 90%;
    margin: 40px auto;
}

.project-list-wrapper h1 { 
    font-size: 22px;
    margin-bottom: 30px;
}

.project-list-wrapper table {
    border-collapse: collapse; 
    width: 100%;
}
.project-list-wrapper table a {
    color: #C32C88;
    font-size: 16px;
} 
.project-list-wrapper table th, .project-list-wrapper table td {
    border: 1px solid #000;
    padding: 8px;
    height: 60px; 
    color: #f0f0f0;
    font-size: 16px;
}
  
.project-list-wrapper table th {
    background-color: #111111;
    font-size: 16px;
}
.icon-green { 
    color: #4ef14b !important;
}
.icon-orange {
    color: #f1824b !important;
}
.icon-yellow {
    color: #f1ee4b !important;
}
.icon-red {
    color: #f14b4b !important;
}
.icon-green,
.icon-orange,
.icon-yellow,
.icon-yellow,
.icon-red  {
    position: relative;
}

/* Add tooltip on hover */
.icon-green::before,
.icon-orange::before,
.icon-yellow::before,
.icon-yellow::before,
.icon-red::before   {
    position: absolute;
    top: -6px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.icon-green:hover::before,
.icon-orange:hover::before,
.icon-yellow:hover::before,
.icon-yellow:hover::before,
.icon-red:hover::before   {
    opacity: 1;
    visibility: visible;
} 

.icon-green::before {
    content: "Finished"; 
}
.icon-orange::before {
    content: "Working"; 
}
.icon-yellow::before {
    content: "Finished"; 
}
.icon-yellow::before {
    content: "Pending"; 
}
.icon-red::before {
    content: "Stopped"; 
}

/* project details page */
.project-details-wrapper {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.project-details-wrapper hr {
    border-radius: 2px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.project-details-wrapper h2,
.project-details-wrapper h3 {
    margin: 40px 0;
}
.client-info {
    border-radius: 10px;
    padding: 20px 10px;
    background-color: #000;
    width: 350px;
}
.client-info p {
    font-size: 16px;
    margin: 10px 0;
}
.client-info svg {
    width: 42px;
}
.project-description {
    margin: 40px 0;
    width: 80%;
}
.project-description h4 {
    margin: 10px 0;
}
.project-description ul li,
.project-description p {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 100;
}
.payment-status,
.status-update {
    margin: 40px 0;
    width: 90%;
    padding: 10px;
}
.payment-status label,
.status-update label {
    width: 120px;
}
.payment-status select,
.status-update select {
    border-radius: 10px;
    border: none;
    padding: 8px 25px;
    margin-left: 20px;
    background-color: #9C8593;
}
.project-details-wrapper .message-box {
    margin: 40px 0;
    padding: 10px;
}
.project-details-wrapper .message-box textarea{
    border: 1px solid #111111;
    background-color: #000;
    color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    width: 280px;
}

/* Project Timeline Styles */
.project-timeline {
    position: relative;
    margin-top: 40px;
    width: 90%;
}
  
.project-timeline h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.timeline-list {
    list-style: none;
    
    padding: 0;
}
  
.timeline-marker {
    width: 10px;
    height: 10px;
    background-color: #25d900;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
  
.timeline-content {
    position: relative;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #212020;
    border-radius: 5px;
    background-color: #000;
}
  
.timeline-date {
    font-size: 13px;
    color: #b1b1b1;
}
  
.timeline-task {
    color: #dedede;
    font-size: 14px;
}
.timeline-list li {
    margin: 10px 0;
}

.btn.add-task-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Add tooltip on hover */
.btn.add-task-btn::before {
    content: "Add Task"; 
    position: absolute;
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.add-task-btn:hover::before {
    opacity: 1;
    visibility: visible;
}  

/* brand colors changeable */
.color-pallet-wrapper { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.color-box { 
    width: 280px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-brand-bg {
    background-color: #080808;
}
.secondary-brand-bg {
    background-color: #447BBE;
}
.cta-brand-bg {
    background-color: rgb(223, 31, 45);
}

/* task form */
.task-form {
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    bottom: 90px;
    left: 500px;
    background: #000;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.03),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.043),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.051),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.057),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.063),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}
.add-task-form {
    display: flex;
    width: 300px;
    flex-direction: column;   
}
.task-form svg {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.add-task-form input {
    margin: 20px 0;
    padding: 10px;
    background-color: #080808;
    color: #b1b1b1;
    border-radius: 6px;
    border: 1px solid #111111;
}
.add-task-form textarea {
    margin: 20px 0;
    background-color: #080808;
    color: #b1b1b1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #111111;
}


  