.notificationbar-wrapper {
    border-radius: 10px;
    padding: 40px 60px;
    background: #080808;
    box-shadow: inset 26px 26px 52px #000, inset -26px -26px 52px #0f0e0e;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 250px;
  
    /* Scrollbar customization */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4E31AA #111; /* Firefox */
  
    /* WebKit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 12px;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #4E31AA;
      border-radius: 6px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #4E31AA;
    }
  
    ::-webkit-scrollbar-track {
      background: #4E31AA;
    }
}

ul.notifications-list {
    list-style: none;
}

.cards-basic.notification-card {
    margin: 25px auto;
    background-color: #000;
    border-radius: 6px;
    height: auto;
    min-height: auto;
    max-width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.notification-text {
    font-size: 14px;
}
.notification-timestamp {
    font-size: 12px;
    color: #9d9c9c;
}
.notification-close {
    cursor: pointer;
}
ul.notifications-list li.notification-item {
    color: #fff !important;
}